[Unit]
Description=Discord auto-update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/discord-autoupdate.sh
